[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
sphinx = "*"

[packages]
click = "*"
lxml = "*"
openpyxl = "*"
pandas = "*"
pathlib2 = "*"
xlrd = "*"

[requires]
python_version = "3.6"

[scripts]
dspace = "python dspace.py"
build_docs = "sphinx-build -b html -c ./ ./ _build/html"
